<h1 class="my-3"><%= t(:new) %> <%= ProductModel.model_name.human %></h1>

<% if(@product_model.errors.any?) %>
  <div class="alert alert-danger" role="alert">
    <p><%= t(:check_errors) %></p>
    <ul>
      <% @product_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>