<h1 class="my-3">Galpões</h1>
<div class="my-3">
  <%= link_to 'Cadastrar Galpão', new_warehouse_path, class: "btn btn-outline-dark" %>
</div>
<div class="row gy-5">
  <% @warehouses.each do |w| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to(w.name, warehouse_path(w.id)) %></h5>
          <dl class="card-text">
            <dt>Código:</dt>
            <dd><%= w.code %></dd>
            <dt>Local:</dt>
            <dd><%= w.city %>/<%= w.state %></dd>
            <dt>Área:</dt>
            <dd><%= number_with_delimiter(w.area, delimiter: '.') %> m²</dd>
          </dl>  
        </div>
      </div>
    </div>
  <% end %>
</div>


<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados.</p>
<% end %>