<h1 class="my-3"><%= Order.model_name.human %> #<%= @order.id %></h1>

<div>
  <dl>
    <dt class="fw-semibold"><%= Order.human_attribute_name(:estimated_delivery_date) %>:</dt>
    <dd><%= I18n.l(@order.estimated_delivery_date) %></dd>
    <dt class="fw-semibold"><%= Order.human_attribute_name(:warehouse) %>:</dt>
    <dd><%= @order.warehouse.warehouse_full_description %></dd>
    <dt class="fw-semibold"><%= Order.human_attribute_name(:supplier) %>:</dt>
    <dd><%= @order.supplier.supplier_full_description %></dd>
    <dt class="fw-semibold"><%= Order.human_attribute_name(:user) %>:</dt>
    <dd><%= @order.user.user_full_description %></dd>
  </dl>
</div>