<h1 class="my-3"><%= Order.model_name.human %> <%= @order.code %></h1>
<h3 class="text-muted"><%= Order.human_attribute_name(:status) %>: <%= Order.human_attribute_name("status.#{@order.status}") %></h3>

<% if @order.pending? %>
  <div class="d-grid gap-2 col-4 my-3">
    <%= button_to t(:mark_as_delivered), delivered_order_path(@order.id), class: "btn btn-dark" %>
  </div>

  <div class="d-grid gap-2 col-4 my-3">
    <%= button_to t(:mark_as_canceled), canceled_order_path(@order.id), class: "btn btn-outline-dark" %>
  </div>
<% end %>

<dl>
  <dt class="fw-semibold"><%= Order.human_attribute_name(:estimated_delivery_date) %>:</dt>
  <dd><%= I18n.l(@order.estimated_delivery_date) %></dd>
  <dt class="fw-semibold"><%= Order.human_attribute_name(:warehouse) %>:</dt>
  <dd><%= link_to @order.warehouse.warehouse_full_description, @order.warehouse, class: "link-dark" %></dd>
  <dt class="fw-semibold"><%= Order.human_attribute_name(:supplier) %>:</dt>
  <dd><%= link_to @order.supplier.supplier_full_description, @order.supplier, class: "link-dark" %></dd>
  <dt class="fw-semibold"><%= Order.human_attribute_name(:user) %>:</dt>
  <dd><%= @order.user.user_full_description %></dd>
</dl>

<h2 class="my-3"><%= OrderItem.model_name.human count: 2 %></h2>

<%= link_to 'Adicionar Item', new_order_order_item_path(@order.id), class:"btn btn-outline-dark" %>

<ul class="my-3">
  <% @order.order_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product_model.name %></li>
  <% end %>
</ul>

<div class="row">
  <% if @order.pending? %>
    <div class="d-grid gap-2 col-4 my-3">
      <%= link_to "#{ t(:edit) } #{ Order.model_name.human }", edit_order_path, class: "btn btn-dark" %>
    </div>
  <% end %>
  <div class="d-grid gap-2 col-4 my-3">
    <%= link_to t(:back), orders_path, class:"btn btn-outline-dark" %>
  </div>
</div>