<h1 class="my-3"><%= Supplier.model_name.human(count: 2) %></h1>

<div>
  <%= link_to 'Cadastrar Fornecedor', new_supplier_path, class: "btn btn-outline-dark " %>
</div>

<% if @suppliers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= Supplier.human_attribute_name(:brand_name) %></th>
        <th scope="col"><%= Supplier.human_attribute_name(:state) %></th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |s| %>
        <tr>
          <td><%= link_to s.brand_name, s, class: "link-dark" %></td>
          <td><%= s.city %> - <%= s.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-secondary text-center" role="alert">
    Não existem fornecedores cadastrados.
  </div>
<% end %>
