<h1 class="my-3"><%= t(:new) %> <%= Supplier.model_name.human %></h1>

<% if(@supplier.errors.any?) %>
  <div class="alert alert-danger" role="alert">
    <p><%= t(:check_errors) %></p>
    <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render 'form' %>