<h1 class="my-3"><%= @supplier.brand_name %></h1>
<h4 class="my-3"><%= @supplier.corporate_name %></h4>

<div>
  <dl>
    <dt class="fw-semibold"><%= Supplier.human_attribute_name(:registration_number) %>:</dt>
    <dd>
    <%= @supplier.formatted_registration_number %>
    </dd>
    <dt class="fw-semibold"><%= Supplier.human_attribute_name(:full_address) %>:</dt>
    <dd><%= @supplier.formatted_address %></dd>
    <dt class="fw-semibold"><%= Supplier.human_attribute_name(:postal_code) %>:</dt>
    <dd><%= @supplier.formatted_postal_code %></dd>
    <dt class="fw-semibold"><%= Supplier.human_attribute_name(:phone_number) %>:</dt>
    <dd><%= number_to_phone(@supplier.phone_number, pattern: /(\d{1,5})(\d{5})(\d{4})$/, area_code: true) %></dd>
    <dt class="fw-semibold"><%= Supplier.human_attribute_name(:email) %>:</dt>
    <dd><%= @supplier.email %></dd>
  </dl>
</div>

<div class="row">
  <div class="d-grid gap-2 col-4 my-3">
    <%= link_to "#{ t(:edit) } #{ Supplier.model_name.human }", edit_supplier_path, class: "btn btn-dark" %>
  </div>
  <div class="d-grid gap-2 col-4 my-3">
    <%= link_to t(:back), suppliers_path, class:"btn btn-outline-dark" %>
  </div>    
</div>  

<% if @product_models.empty? %>
  <div class="alert alert-secondary text-center" role="alert">
    <%= t(:no_product_model_for_supplier) %>
  </div>
<% else %>
  <h4 class="my-3"><%= t(:registered_product_models) %></h4>
  <% @product_models.each do |pm| %>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title"><%= pm.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= ProductModel.human_attribute_name(:sku) %>: <%= pm.sku %></h6>
        <dl class="card-text">
          <dt class="fw-semibold"><%= ProductModel.human_attribute_name(:weight) %>:</dt>
          <dd><%= number_to_human(pm.weight, units: {unit: 'g', thousand: 'kg'}) %></dd>
          <dt class="fw-semibold"><%= t(:dimensions) %>:</dt>
          <dd><%= pm.dimensions %></dd>
        </dl>  
      </div>
    </div>
  <% end %>        
<% end %>
