<h1 class="my-3"><%= @supplier.brand_name %></h1>
<h4 class="my-3"><%= @supplier.corporate_name %></h4>

<div>
  <dl>
    <dt><strong>CNPJ: </strong></dt>
    <dd>
    <%= "#{@supplier.registration_number[0, 2]}.#{@supplier.registration_number[2, 3]}.#{@supplier.registration_number[5, 3]}/#{
         @supplier.registration_number[8, 4]}-#{@supplier.registration_number[12, 2]}" %>
    </dd>
    <dt><strong>Endereço: </strong></dt>
    <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dt><strong>CEP: </strong></dt>
    <dd><%= "#{@supplier.postal_code[0, 2]}.#{@supplier.postal_code[2, 7]}" %></dd>
    <dt><strong>Telefone: </strong></dt>
    <dd><%= number_to_phone(@supplier.phone_number, pattern: /(\d{1,5})(\d{5})(\d{4})$/, area_code: true) %></dd>
    <dt><strong>E-mail: </strong></dt>
    <dd><%= @supplier.email %></dd>
  </dl>
</div>

  <div class="row">
    <div class="d-grid gap-2 col-4 my-3">
      <%= link_to 'Editar Fornecedor', edit_supplier_path, class: "btn btn-dark" %>
    </div>
    <div class="d-grid gap-2 col-4 my-3">
      <%= link_to 'Voltar', suppliers_path, class:"btn btn-outline-dark" %>
    </div>
  </div>

  <% if @product_models.empty? %>
    <div class="alert alert-secondary text-center" role="alert">
      Não existem Modelos de Produto cadastrados para este Fornecedor
    </div>
  <% else %>
    <% @product_models.each do |pm| %>
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title"><%= pm.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">SKU: <%= pm.sku %></h6>
              <dl class="card-text">
                <dt>Peso:</dt>
                <dd><%= number_to_human(pm.weight, units: {unit: 'g', thousand: 'kg'}) %></dd>
                <dt>Dimensões:</dt>
                <dd><%= pm.width %> cm x <%= pm.depth %> cm x <%= pm.height %> cm</dd>
              </dl>  
            </div>
          </div>
      <% end %>
  <% end %>
