<h1 class="my-3">Galpão <%= @warehouse.code %></h1>
<h3 class="text-muted"><%= @warehouse.description %></h3>
<div>
  <dl>
    <dt><strong>Nome: </strong></dt>
    <dd><%= @warehouse.name %></dd>
    <dt><strong>Endereço: </strong></dt>
    <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
    <dt><strong>CEP: </strong></dt>
    <dd><%= "#{@warehouse.postal_code[0, 2]}.#{@warehouse.postal_code[2, 7]}" %></dd>
    <dt><strong>Área: </strong></dt>
    <dd><%= number_with_delimiter(@warehouse.area, delimiter: '.') %> m²</dd>
  </dl>
</div>
<div class="d-grid gap-2 col-4 mb-3">
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id), class: "btn btn-dark" %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete, class: "btn btn-danger col-12") %>
  <%= link_to 'Voltar', root_path, class:"btn btn-secondary" %>
</div>

  
