<h1 class="my-3"><%= Warehouse.model_name.human %> <%= @warehouse.code %></h1>
<h3 class="text-muted"><%= @warehouse.description %></h3>
<div>
  <dl>
    <dt class="fw-semibold"><%= Warehouse.human_attribute_name(:name) %>:</dt>
    <dd><%= @warehouse.name %></dd>
    <dt class="fw-semibold"><%= Warehouse.human_attribute_name(:address) %>:</dt>
    <dd><%= @warehouse.formatted_address %></dd> 
    <dt class="fw-semibold"><%= Warehouse.human_attribute_name(:postal_code) %>:</dt>
    <dd><%= @warehouse.formatted_postal_code %></dd>
    <dt class="fw-semibold"><%= Warehouse.human_attribute_name(:area) %>:</dt>
    <dd><%= number_with_delimiter(@warehouse.area, delimiter: '.') %> m²</dd>
  </dl>
</div>
<div class="d-grid gap-2 col-4 mb-3">
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id), class: "btn btn-dark" %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete, class: "btn btn-danger col-12") %>
  <%= link_to 'Voltar', root_path, class:"btn btn-outline-dark" %>
</div>

  
